.dark {
  padding: 13px 17px;
  padding-bottom: 10px;
  border-radius: 24px;
  color: #fff;
  background-color: #000;
}

.transparent {
  padding: 13px 17px;
  padding-bottom: 10px;
  color: #000;
}

.access {
  background-color: red;
  padding-bottom: 0;
  padding: 12px 17px;
  border-radius: 24px;
  color: #fff;

  &:hover {
    background-color: rgb(212, 1, 1);
  }
}