.details {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.detailsContent {
  width: 508px;
  height: 508px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 20px 0px;
  border-top-right-radius: 32px;
  border-bottom-right-radius: 32px;
}

.detailsImage {
  border-top-left-radius: 32px;
  border-bottom-left-radius: 32px;
  width: 508px;
  height: 508px;
}

.detailsSave {
  background-color: red;
  padding-bottom: 0;
  padding: 12px 17px;
  border-radius: 24px;
  color: #fff;
  margin-left: 14px;
}

.detailsArrow {
  cursor: pointer;
}