.card {
  position: relative;
  width: 236px;
  margin: 0 1px;
  margin-bottom: 10px;
}

.cardWrapper {
  position: relative;
}

.cardPopup {
  width: 360px;
  position: absolute;
  left: 0;
  right: 0;
  height: 442px;
  top: 60px;
}

.cardContent {
  display: none;
  position: absolute;
  top: 0;
  padding: 15px 13px;
}

.cardContentActive {
  display: block;
}

.popupCreate {
  height: 80px;
  border-bottom-right-radius: 14px;
  border-bottom-left-radius: 14px;
  box-shadow: 0 0 8px rgba(0, 0, 0, .1);
}

.cardName {
  display: block;
  color: #fff;
  font-size: 17px;
  width: 70px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.cardImageWrapper {
  position: relative;
  cursor: zoom-in;

  &::before {
    content: '';
    width: 236px;
    height: 100%;
    pointer-events: none;
    border-radius: 16px;
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.1);
  }

  &:hover::after {
    content: '';
    width: 236px;
    height: 100%;
    border-radius: 16px;
    position: absolute;
    cursor: zoom-in;
    pointer-events: none;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }

  &:hover>.cardContent {
    z-index: 1000;
    display: block;
    cursor: pointer;
  }
}

.cardArrow {
  fill: #fff;
}

.cardActive {
  position: absolute !important;
  left: -80% !important;
}

.cardImageItem {
  width: 236px;
  pointer-events: auto;
  cursor: zoom-in;
  height: 350px;
  display: flex;
  align-items: center;
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
}

.cardImage {
  width: 100%;
  height: 100%;
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 16px;
}