.pinContent {
  width: 100%;
  text-align: center;
}

.pinImage {
  margin: 0 auto;
  margin-top: 70px;
  margin-bottom: 20px;
}

.pinTitle {
  font-size: 27px;
  font-weight: 600;
}

.pinDescription {
  color: rgb(150, 150, 150);
  margin: 20px auto 20px;
  max-width: 400px;
}

.pinLinear {
  position: absolute;
  width: 100%;
  left: 0;
  top: 10%;
}

.pinHorizon {
  position: absolute;
  border: 1px solid #ccc;
  padding: 30px;
  width: 80px;
  padding-top: 100px;
  left: 0;
  top: 10%;
}

.pinFullLinear {
  position: absolute;
  border: 1px solid #ccc;
  top: 30%;
  padding: 30px;
  width: 80px;
  left: 0;
  height: 100vh;
}